{% extends 'base.html' %}
{% load static %}


{% block content %}
<body class="authentication-page">

    <!-- Main Layout Start -->
    <div class="main-layout card-bg-1">
        <div class="container d-flex flex-column">
            <div class="row no-gutters text-center align-items-center justify-content-center min-vh-100">
                <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                    <h1 class="font-weight-bold">Password Reset</h1>
                    <p class="text-dark mb-3">set new password.</p>
                    <form class="mb-3" method="POST" action="{% url 'change_password' %}" >
                      {% csrf_token %}
                      
                      
                      {% for field in form %}

                        <div class="form-group">
                          {{field}}
                        </div>
                          
                      {% endfor %}
                        
                      <button
                        class="btn btn-primary btn-lg btn-block text-uppercase font-weight-semibold"
                        type="submit"
                      >
                        submit
                      </button>
                    </form>
                </div>
            </div> 
        </div>
    </div>
    <!-- Main Layout End -->
  

    <!-- Javascript Files -->
    <script src="{% static 'vendors/jquery/jquery-3.5.0.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendors/svg-inject/svg-inject.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>

</body>
{% endblock content %}
    




