{% extends 'base.html' %} 
{% load static %} 

{% block content %}

<body class="authentication-page">
  <!-- Main Layout Start -->
  <div class="main-layout card-bg-1">
    <div class="container d-flex flex-column">
      <div
        class="row no-gutters text-center align-items-center justify-content-center min-vh-100"
      >
        <div class="col-12 col-md-6 col-lg-5 col-xl-4">
          <h1 class="font-weight-bold">Sign up</h1>
          <p class="text-dark mb-3">We are Different, We Make You Different.</p>

          <form class="mb-3" hx-post="{% url 'send_otp' %}" hx-target="this" hx-swap="outerHTML">
            {% csrf_token %}
            <div class="form-group">
              <label for="email" class="sr-only">Email Address</label>
              <input
                type="email"
                class="form-control form-control-md"
                id="email"
                placeholder="Enter your email"
                name='email'
              />
            </div>
            <div class="form-group">
              <label for="pasword" class="sr-only">Password</label>
              <input
                type="password"
                class="form-control form-control-md"
                id="pasword"
                placeholder="Enter your pasword"
                name='password'
              />
            </div>
            <button
              class="btn btn-primary btn-lg btn-block text-uppercase font-weight-semibold"
              type="submit"
            >
              Sign up
            </button>
          </form>

          <p>
            Already have an account?
            <a class="font-weight-semibold" href="./signin.html">Sign in</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Main Layout End -->

  <!-- Javascript Files -->
  <script src="{% static 'vendors/jquery/jquery-3.5.0.min.js' %} "></script>
  <script src="{% static 'vendors/bootstrap/bootstrap.bundle.min.js' %} "></script>
  <script src="{% static 'vendors/magnific-popup/jquery.magnific-popup.min.js' %} "></script>
  <script src="{% static 'vendors/svg-inject/svg-inject.min.js' %} "></script>
  <script src="{% static 'vendors/modal-stepes/modal-steps.min.js' %} "></script>
  <script src="{% static 'js/app.js' %} "></script>
</body>

{% endblock content %}
